@import 'styles.css';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap';

body {
    background: var(--background-color);
    color: var(--primary-color);
    font-family: roboto mono, monospace
}

.center-text {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons a {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

* {
    scrollbar-width: thin;
}