<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard - havoc</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <!-- <a href="{{url_for('logout')}}">logout</a><br>
    {{user.username}} -->

    <div id="main">
        <div class="header-container">
            <div id="left"></div>
            <div id="right">
                <div class="user-container">
                    <div class="user">
                        <button type="button" class="user-button">
                            <div class="avatar">
                                <img src="{{avatar}}" alt="{{user.username}}">
                            </div>
                            <div id="triangle"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>{{current_user.username}}</div>
    </div>
</body>
</html>