<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login - havoc</title>
</head>
<body>
    <a href="/">home page</a>

    <div class="error">{{error}}</div>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    <div class="account-check">
        Don't have an account?
        <a href="{{url_for('register')}}"> Sign up</a>
    </div>
</body>
</html>