<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widthinitial-scale=1.0">
    <title>register - havoc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/s.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<div class="login">
    <a href="/">home page</a>
    <form method="post">
        <div class="input-container">
            <div class="register">
                <input type="text" placeholder="username" name="username">
                <input type="password" placeholder="password" name="password">
                <input type="text" placeholder="invite code" name="invite key">
            </div>
        </div>
        <div class="login-controls">
            <div id="error-message" class="error-message">{{ error }}</div>
            <input style="cursor: pointer" type="submit" value="submit" class="submit-button">
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</div>
</body>

</html>