<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard - havoc</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://kit.fontawesome.com/5daaff4575.js" crossorigin="anonymous"></script>
</head>
<body>

    <div id="main">
        <div class="header-container">
            <div id="left"></div>
            <div id="right">
                <div class="user-container">
                    <div class="user">
                        <button type="button" class="user-button">
                            <div class="identifier">
                                <div class="username" style="font-size: 14px;">{{username}}</div>
                                <div class="name">{{uid}}</div>
                            </div>
                            <div class="avatar">
                                <img src="{{avatar}}" alt="{{user.username}}">
                            </div>
                            <div id="triangle"></div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: -3px;" class="navbar" role="banner">
            <nav id="topbar">
                <ul>
                    <li class="menu single-menu">
                        <a href="{{url_for('dashboard')}}">
                            <div>
                                <font>Dashboard</font>
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- BEGIN CONTENT AREA -->
        <div id="content" class="main-content">
            <div style="padding-top: 16px;" class="page-header"></div>

            <div class="layout-space">
                <div class="linker", style="width: 100%; margin-bottom: -8px;">
                    <a style="font-weight: 600" href="/">HAVOC</a>
                    <i class="fa fa-angle-double-right" style="font-size: 12px; margin-top: 3px; padding: 0px 4px;"></i>
                    <a style="font-weight: 600;" href="javascript:void(0);">{{username}}</a>
                </div>
                
                <br>

                <div class="main">
                    <div class="first">
                        <div class="profile-container">
                            <div class="profile">
                                <img style="object-fit: cover;max-height: 150px;max-width: 150px;width: 150px;height: 150px;border-radius: 50%" src="{{avatar}}" alt="margiela">
                                
                                <div class="info" style="margin-left: 20px;flex-grow: 1;">
                                    <div class="username" style="font-size: 24px;font-weight: 600;-webkit-filter: hue-rotate(0deg) !important; filter: hue-rotate(0deg) !important;">
                                        <span style="color:white">{{username}}</span>
                                        <div style="margin: 5px 0;color: white;color:var(--primary-color);font-weight: 700;font-size: 12px;width: max-content;">{{uid}}</div>
                                    </div>
                                </div>
                            
                                <div style="font-weight: 600;" class="buttons">
                                    <a class="btn" style="color: white !important" href="{{url_for('edit_profile', username=username)}}">Edit profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT AREA -->
    </div>
</body>
</html>